body {
      /* background-color: white; */
      padding: 0%;
      margin: 0%;
      font-family: 'Montserrat', sans-serif;
}

.navigation-bar{
      background-color: #1A187A;;
}

.search-box{
      flex-grow: 1;
      display: flex;
      align-items: center;
      margin: 0 10px;
}

.search-input{
      width: 100%;
      padding: 10px;
      box-sizing: border-box;
      border: 1px solid #ccc;
      background: #fff;
      border-radius: 5px;
      outline: none;
      background-image: url("./images/search.png");
      background-position: 8px 50%;
      background-repeat: no-repeat;
      padding-left: 35px;
}

.nav-link{
      color: rgb(179, 177, 177);
}

.navbar-nav .nav-link.active {
      color: white;
}

.nav-link:hover{
      color: white;
}



.humburger-span{
      font-size: 25px;
      color: #fff;
}

.card-title{
      color: #000;
      font-family: Montserrat;
      font-size: 30px;
      font-style: oblique;
      font-weight: 800;
      line-height: 40px; /* 75% */
      letter-spacing: -0.96px; 
}

.card-text{
      color: #000;
      font-family: Montserrat;
      font-size: 12px;
      font-style: normal;
      font-weight: 400;
      line-height: 24px; / 
}

.image-container{
      width: 300px;
      height: 300px;
      overflow: hidden;
}

.cropped-image{
      width: 80%;
      height: auto;
      object-fit: cover;
}

.card-body{
      padding: 60px;
}

.carousel{
      width: 100%;
      /* flex-shrink: 0; */
      background: url("./images/banner.png"), lightgray 50% / cover no-repeat;
}


.carousel-control-prev-icon,
.carousel-control-next-icon {
      filter: invert(100%);
}

.features .right-half{
      background-color: #d7d4d4;;
}
.features .left-half .down-half{
      background-color: #EDEDED
}


