body {
      /* background-color: white; */
      padding: 0%;
      margin: 0%;
      font-family: 'Montserrat', sans-serif;
}

.navigation-bar{
      background-color: #1A187A;;
}

.search-box{
      flex-grow: 1;
      display: flex;
      align-items: center;
      margin: 0 10px;
}

.search-input{
      width: 100%;
      padding: 10px;
      box-sizing: border-box;
      border: 1px solid #ccc;
      background: #fff;
      border-radius: 5px;
      outline: none;
      background-image: url("./images/search.png");
      background-position: 8px 50%;
      background-repeat: no-repeat;
      padding-left: 35px;
}

.nav-link{
      color: rgb(179, 177, 177);
}

.navbar-nav .nav-link.active {
      color: white;
}

.nav-link:hover{
      color: white;
}



.humburger-span{
      font-size: 25px;
      color: #fff;
}

.card-title{
      color: #000;
      font-family: Montserrat;
      font-size: 30px;
      font-style: oblique;
      font-weight: 800;
      line-height: 40px; /* 75% */
      letter-spacing: -0.96px; 
}

.card-text{
      color: #000;
      font-family: Montserrat;
      font-size: 12px;
      font-style: normal;
      font-weight: 400;
      line-height: 24px; / 
}

.image-container{
      width: 300px;
      height: 300px;
      overflow: hidden;
}

.cropped-image{
      width: 80%;
      height: auto;
      object-fit: cover;
}

.card-body{
      padding: 60px;
}

.carousel{
      width: 100%;
      /* flex-shrink: 0; */
      background: url("./images/banner.png"), lightgray 50% / cover no-repeat;
}


.carousel-control-prev-icon,
.carousel-control-next-icon {
      filter: invert(100%);
}

.features .right-half{
      background-color: #d7d4d4;;
}
.features .left-half .down-half{
      background-color: #EDEDED
}

.browse-by-category .upper-section .arrow-buttons .left-arrow,
.browse-by-category .upper-section .arrow-buttons .right-arrow
{
      background-color: transparent;
      border: none;
      cursor: pointer;
      padding: 0;
      margin: 0;
}

.browse-by-category .lower-section .categories {
      width: 160px;
      height: 128px;
      min-width: 135px;
      padding: 24px 52px;
      gap: 8px;
      border-radius: 15px;
      background-color: #EDEDED;
}

.browse-by-category .lower-section .categories .category-name {
      color: var(--main-black, #000);
      text-align: center;
      font-family: Montserrat;
      font-size: 12px;
      font-style: normal;
      font-weight: 500;
      line-height: 24px;
}

.product-card .lower-section .image{
      width: 160px;
      height: 160px;
}

.product-card .lower-section .product-details{
      min-width: 200px;
      padding: 24px 16px;
      gap: 16px;
      flex: 1 0 0;
      border-radius: 9px;
      background: #f6f6f6;
}

.product-card .upper-section .product-age{
      color: #8B8B8B;
      text-align: center;
      font-family: Montserrat;
      font-size: 18px;
      font-style: normal;
      font-weight: 500;
      line-height: 32px;
}

.product-card .upper-section .product-age.active{
      color: var(--main-black, #000);
      
}

.product-card .lower-section .product-details .description-section{
      align-self: stretch;
      color: var(--main-black, #000);
      text-align: center;
      font-family: Montserrat;
      font-size: 16px;
      font-style: normal;
      font-weight: 500;
      line-height: 24px;
}

.product-age{
      list-style: none;
      display: flex;
      margin: 0 ;
      padding: 0;
}

.banner-section{
      background: #958AD4;
}
 .banner-section h1{
      color: #fff;
      font-family: Montserrat;
      font-size: 72px;
      line-height: 72px;
      letter-spacing: -0.72px;
      font-weight: 900;
 }

.banner-section h1 span {
      color: #25177B;
      
}

.banner-section p {
      color: #FFF;
      text-align: center;
      font-family: Montserrat;
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: 32px; 
}