.navigation-bar{
      background-color: #1A187A;;
}

.search-box{
      flex-grow: 1;
      display: flex;
      align-items: center;
      margin: 0 10px;
}

.search-input{
      width: 100%;
      padding: 10px;
      box-sizing: border-box;
      border: 1px solid #ccc;
      background: #fff;
      border-radius: 5px;
      outline: none;
      background-image: url("./images/search.png");
      background-position: 8px 50%;
      background-repeat: no-repeat;
      padding-left: 35px;
}


.humburger-span{
      font-size: 25px;
}